<div class="absolute inset-0 flex min-w-0 flex-col overflow-hidden">
    <mat-drawer-container
        class="h-full flex-auto"
        (backdropClick)="onBackdropClicked()"
    >
        <!-- Drawer -->
        <!-- TODO: the [ position ] of the layout should be dynamic depending on the page direction -->
        <mat-drawer
            class="w-full dark:bg-gray-900 sm:w-100"
            [mode]="isScreenSmall ? 'side' : 'over'"
            [autoFocus]="false"
            [opened]="opened"
            [position]="'end'"
            #matDrawer
        >
            <!-- Report Drawer -->
            <app-sidebar-report
                (sidebarClose)="matDrawer.close()"
            ></app-sidebar-report>
        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="flex flex-col overflow-hidden">
            <!-- Header // TODO: ( Just a Reminder ) This header should be converted to a component to make it reusable  -->
            <header
                class="flex flex-0 flex-col gap-4 bg-white p-6 dark:bg-transparent sm:flex-row sm:items-center sm:justify-between sm:py-12 sm:px-10"
            >
                <!-- Title & Breadcrumbs -->
                <div class="min-w-0 flex-1">
                    <!-- Breadcrumbs -->
                    <div>
                        <div class="flex flex-wrap items-center font-medium">
                            <div>
                                <a class="whitespace-nowrap text-primary-500"
                                    >Requests</a
                                >
                            </div>
                            <div
                                class="ml-1 flex items-center whitespace-nowrap"
                            >
                                <mat-icon
                                    class="text-tqeem-primaryGreyAccent icon-size-5"
                                    [svgIcon]="'heroicons_solid:chevron-right'"
                                ></mat-icon>
                                <span class="ml-1 text-tqeem-primaryGreyAccent"
                                    >New Request</span
                                >
                            </div>
                        </div>
                    </div>
                    <!-- Title -->
                    <div class="mt-2">
                        <h2
                            class="truncate text-3xl font-extrabold leading-7 tracking-tight sm:leading-10 md:text-4xl"
                        >
                            New Request
                        </h2>
                    </div>
                </div>
                <!-- Actions -->
                <div class="flex shrink-0 items-center">
                    <button
                        class="ml-3 rounded-full border border-solid border-tqeem-primary bg-gradient-to-b text-tqeem-primary"
                        mat-flat-button
                        [routerLink]="'./..'"
                    >
                        <mat-icon
                            class="mr-2 icon-size-5"
                            [svgIcon]="'feather:arrow-left'"
                        ></mat-icon>
                        Back to Requests History
                    </button>
                </div>
            </header>

            <!-- Main // TODO: ( Just a Reminder ) This header should be converted to a component to make it reusable  -->
            <main
                class=" flex-auto overflow-y-auto bg-tqeem-bodyPrimaryAccent p-0"
              cdk-scrollable
            >
                <!-- CONTENT GOES HERE -->
                
                <inquiry-type
                    (showInquiry)="matDrawer.open()"
                ></inquiry-type>
            </main>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
