<div
    class="absolute inset-0 flex flex-col min-w-0"
    fuseScrollbar="true"
    [fuseScrollbarOptions]="{
        wheelPropagation: false,
        suppressScrollX: true
    }"
>
    <!-- Header // TODO: This header should be converted to a component -->
    <header
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 pb-22 sm:pt-12 sm:pb-28 sm:px-10 bg-white dark:bg-transparent"
    >
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div>
                <div class="flex flex-wrap items-center font-medium">
                    <div>
                        <a class="whitespace-nowrap text-primary-500"
                            >Requests</a
                        >
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon
                            class="icon-size-5 text-tqeem-primaryGreyAccent"
                            [svgIcon]="'heroicons_solid:chevron-right'"
                        ></mat-icon>
                        <span class="ml-1 text-tqeem-primaryGreyAccent"
                            >New Request</span
                        >
                    </div>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2
                    class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"
                >
                    New Request
                </h2>
            </div>
        </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button
                class="ml-3 bg-gradient-to-b text-tqeem-primary rounded-full border border-tqeem-primary border-solid"
                mat-flat-button
                [routerLink]="'./..'"
            >
                <mat-icon
                    class="icon-size-5 mr-2"
                    [svgIcon]="'feather:arrow-left'"
                ></mat-icon>
                Back to Requests History
            </button>
        </div>
    </header>

    <!-- Main // TODO: This header should be converted to a component -->
    <main
        class="flex-auto -mt-16 p-6 sm:p-10 shadow bg-tqeem-bodyPrimaryAccent"
    >
        <!-- CONTENT GOES HERE -->
        <div class="h-400 min-h-400 max-h-400"></div>
    </main>
</div>
