<div class="relative flex flex-auto w-full bg-tqeem-bodyPrimaryAccent @container">
    <!-- Inquery list -->

    <div
        class="relative flex flex-auto @[320px]:w-[100vw] min-w-0 @[1024x]:w-90 lg:min-w-90 lg:max-w-90 bg-card dark:bg-transparent "
    >
        <!-- Chats -->
        <div class="overflow-y-auto h-[100vh] ">
            <div
                class="flex items-center cursor-pointer border-b py-5 px-6 bg-card hover:bg-gray-50"
                routerLink="InqueryInformation" >
                <div class="" style="align-self: baseline">
                    <mat-icon
                        class="text-primary-500"
                        svgIcon="heroicons_outline:user-circle"
                    ></mat-icon>
                </div>
                <div class="min-w-0 ml-4 w-[284px]">
                    <div class="font-medium leading-5">
                        Inquiry about a information vehicle
                    </div>
                    <div
                        class="leading-5 text-tqeem-primaryGreyAccent dark:text-primary-500"
                    >
                        Search about a vehicle using serial number and Odometer
                        reading
                    </div>
                </div>
            </div>

            <div
                class="flex items-center cursor-pointer border-b py-5 px-6 bg-card hover:bg-gray-50"
            >
                <div class="" style="align-self: baseline">
                    <mat-icon
                        class="text-primary-500"
                        svgIcon="heroicons_outline:credit-card"
                    ></mat-icon>
                </div>
                <div class="min-w-0 ml-4 w-[284px]">
                    <div class="font-medium leading-5">
                        Inquiry about a vehicle specifactions
                    </div>
                    <div
                        class="leading-5 text-tqeem-primaryGreyAccent dark:text-primary-500"
                    >
                        Search about a vehicle using its specifications and
                        Odometer reading
                    </div>
                </div>
            </div>
            <!-- TODO Set ngClass To Active Hover On Element then set Router Link  to navigate between  inquery-->
        </div>
    </div>

    <div
        class="flex-auto border-l z-20 absolute p-8 inset-0 lg:static lg:inset-auto @[320px]:hidden @[760px]:flex"
    >
        <router-outlet></router-outlet>
    </div>
</div>
