/* ----------------------------------------------------------------------------------------------------- */
/*  @ Original Fuse Styles Path -> 'src\@fuse\components\navigation\vertical\styles\appearances\default.scss'
/*  @ These styles 👇 are being used to override default fuse theme styles for the default vertical navigation 
/* ----------------------------------------------------------------------------------------------------- */

/* Aside, Basic, Collapsable */
fuse-vertical-navigation-aside-item,
fuse-vertical-navigation-basic-item,
fuse-vertical-navigation-collapsable-item {

    > .fuse-vertical-navigation-item-wrapper {

        .fuse-vertical-navigation-item {

            /* Active state */
            &:not(.fuse-vertical-navigation-item-disabled) {

                &.fuse-vertical-navigation-item-active,
                &.fuse-vertical-navigation-item-active-forced {
                    @apply dark:bg-tqeem-darkHighlightPrimaryAccent dark:bg-opacity-100 #{!important};

                    .fuse-vertical-navigation-item-icon {
                        @apply opacity-100;
                    }

                    .fuse-vertical-navigation-item-title {
                        @apply opacity-100;
                    }

                    .fuse-vertical-navigation-item-subtitle {
                        @apply opacity-100;
                    }
                }
            }

            /* Hover state */
            &:not(.fuse-vertical-navigation-item-active-forced):not(.fuse-vertical-navigation-item-active):not(.fuse-vertical-navigation-item-disabled) {

                &:hover {
                    @apply dark:bg-tqeem-darkHighlightPrimaryAccent dark:bg-opacity-100 #{!important};

                    .fuse-vertical-navigation-item-icon {
                        @apply opacity-100;
                    }

                    .fuse-vertical-navigation-item-title,
                    .fuse-vertical-navigation-item-arrow {
                        @apply opacity-100;
                    }

                    .fuse-vertical-navigation-item-subtitle {
                        @apply opacity-100;
                    }
                }
            }
        }
    }
}



    /* ----------------------------------------------------------------------------------------------------- */
    /* @ Navigation Items
    /* ----------------------------------------------------------------------------------------------------- */

    /* Navigation items common */
    fuse-vertical-navigation-aside-item,
    fuse-vertical-navigation-basic-item,
    fuse-vertical-navigation-collapsable-item,
    fuse-vertical-navigation-divider-item,
    fuse-vertical-navigation-group-item,
    fuse-vertical-navigation-spacer-item {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        user-select: none;

        .fuse-vertical-navigation-item-wrapper {

            .fuse-vertical-navigation-item {
                position: relative;
                display: flex;
                gap:16px;
                align-items: center;
                justify-content: flex-start;
                padding: 10px 16px;
                font-size: 13px;
                font-weight: 500;
                line-height: 20px;
                text-decoration: none;
                border-radius: 6px;

                /* Disabled state */
                &.fuse-vertical-navigation-item-disabled {
                    cursor: default;
                    opacity: 0.4;
                }

                .fuse-vertical-navigation-item-icon {
                    margin-right:0px !important;
                }

                .fuse-vertical-navigation-item-title-wrapper {

                    .fuse-vertical-navigation-item-subtitle {
                        font-size: 11px;
                        line-height: 1.5;
                    }
                }

                .fuse-vertical-navigation-item-badge {
                    margin-left: auto;

                    .fuse-vertical-navigation-item-badge-content {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 10px;
                        font-weight: 600;
                        white-space: nowrap;
                        height: 20px;
                    }
                }
            }
        }
    }