<div class="flex-auto">
    <div class="bg-card space-y-2 rounded-2xl">
        <!-- Title -->
        <h1
            class="flex items-center gap-2 px-9 pt-6 text-2xl font-bold text-tqeem-darkPrimaryAccent"
        >
            Complete The Form
            <span
                class="rounded-md border border-solid border-tqeem-bodyPrimaryAccent bg-tqeem-highlightPrimaryAccent px-1 py-px text-md font-bold text-tqeem-primary"
                >{{ percentage }}%
            </span>
        </h1>

        <!-- Wizard -->
        <form
            class="overflow-hidden rounded p-3 shadow"
            [formGroup]="verticalStepperForm"
        >
            <mat-vertical-stepper
                [linear]="true"
                (selectionChange)="selectionChange($event)"
                #verticalStepper
            >
                <!-- Step 1 -->
                <mat-step
                    [formGroupName]="'step1'"
                    [stepControl]="verticalStepperForm.get('step1')"
                    #verticalStepperStep1
                >
                    <!-- Step Label -->
                    <ng-template matStepLabel>Enter Serial Number</ng-template>
                    <p class="mb-1 font-medium text-primary">
                        Please Vehicle Serial Number*
                    </p>
                    <div class="flex">
                        <mat-form-field class="flex-auto">
                            <p
                                matTextPrefix
                                class="min-w-fit text-tqeem-primaryGreyAccent"
                            >
                                The Serial Number is
                            </p>
                            <input
                                class="mx-1 border-primary placeholder:text-tqeem-primaryGreyAccent"
                                matInput
                                [formControlName]="'serialNumber'"
                                required
                            />
                            <mat-icon
                                class="text-primary icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:badge-check'"
                            ></mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="flex justify-start gap-3">
                        <button
                            class="border border-solid border-primary bg-transparent px-8 text-primary hover:bg-inherit"
                            mat-flat-button
                            type="button"
                            matStepperPrevious
                        >
                            Cancel
                        </button>
                        <button
                        class="px-8 bg-gradient-to-b text-white  disabled:from-tqeem-primaryFrom/5 disabled:to-tqeem-primaryTo/5 from-tqeem-primaryFrom to-tqeem-primaryTo"
                        mat-flat-button
                            [color]="'primary'"
                            [disabled]="
                                verticalStepperStep1.stepControl.invalid
                            "
                            type="button"
                            matStepperNext
                        >
                            Next
                        </button>
                    </div>
                </mat-step>

                <!-- Step 2 -->
                <mat-step
                    class="animate-spin"
                    [formGroupName]="'step2'"
                    [editable]="true"
                    [stepControl]="verticalStepperForm.get('step2')"
                    #verticalStepperStep2
                >
                    <!-- Step Label -->
                    <ng-template matStepLabel>
                        Enter Odometer Reading
                    </ng-template>
                    <p class="mb-1 font-medium text-primary">
                        Please Enter Odometer Reading *
                    </p>
                    <div class="gt-xs:flex-row flex flex-col">
                        <mat-form-field class="gt-xs:pr-3 flex-auto">
                            <p
                                matTextPrefix
                                class="min-w-fit text-tqeem-primaryGreyAccent"
                            >
                                Odometer Reading is
                            </p>
                            <p
                                matSuffix
                                class="min-w-fit text-tqeem-primaryGreyAccent"
                            >
                                Km
                            </p>
                            <input
                                class="mx-1 border-primary placeholder:text-tqeem-primaryGreyAccent"
                                matInput
                                [formControlName]="'odometer'"
                                required
                            />
                            <mat-icon
                                class="text-primary icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:truck'"
                            ></mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="flex justify-start gap-3">
                        <button
                            class="border border-solid border-primary bg-transparent px-8 text-primary hover:bg-inherit"
                            mat-flat-button
                            type="button"
                            matStepperPrevious
                        >
                            Cancel
                        </button>
                        <button
                            class="px-8 bg-gradient-to-b text-white  disabled:from-tqeem-primaryFrom/5 disabled:to-tqeem-primaryTo/5 from-tqeem-primaryFrom to-tqeem-primaryTo"
                            mat-flat-button
                            [disabled]="
                                verticalStepperStep2.stepControl.pristine ||
                                verticalStepperStep2.stepControl.invalid
                            "
                            type="button"
                            matStepperNext
                        >
                            Next
                        </button>
                    </div>
                </mat-step>

                <!-- Step 3 -->
                <mat-step
                    [formGroupName]="'step3'"
                    [stepControl]="verticalStepperForm.get('step3')"
                >
                    <ng-template matStepLabel>Verification</ng-template>

                    <div class="leading-6">
                        <h2
                            class="text-lg font-semibold text-tqeem-darkPrimaryAccent"
                        >
                            Payment Details
                        </h2>
                        <p
                            class="my-1 font-medium text-tqeem-primaryGreyAccent"
                        >
                            Update your billing information. Make sure to set
                            your location correctly as it could affect your tax
                            rates.
                        </p>
                    </div>
                    <div class="mt-8 grid w-full gap-6 sm:grid-cols-4">
                        <!-- Current password -->
                        <div class="sm:col-span-4">
                            <mat-form-field
                                class="fuse-mat-no-subscript w-full"
                            >
                                <mat-label class="text-primary"
                                    >Card Holder</mat-label
                                >
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:user'"
                                    matPrefix
                                ></mat-icon>
                                <input
                                    matInput
                                    class="border-primary placeholder:text-tqeem-primaryGreyAccent"
                                    [formControlName]="'cardHolder'"
                                    [placeholder]="'Adams John Goath'"
                                    required
                                />
                            </mat-form-field>
                        </div>

                        <div class="sm:col-span-2">
                            <mat-form-field class="w-full">
                                <mat-label>Card Number</mat-label>
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:credit-card'"
                                    matPrefix
                                ></mat-icon>
                                <input
                                    class="border-primary placeholder:text-tqeem-primaryGreyAccent"
                                    matInput
                                    [formControlName]="'cardNumber'"
                                    [placeholder]="'0000 0000 0000 0000'"
                                    required
                                />
                            </mat-form-field>
                        </div>
                        <div class="sm:col-span-1">
                            <mat-form-field class="w-full">
                                <mat-label>Expiration Date</mat-label>
                                <input
                                    matInput
                                    [formControlName]="'expirationDate'"
                                    [matDatepicker]="picker2"
                                    [placeholder]="'Expiration Date'"
                                />
                                <mat-datepicker-toggle
                                    matPrefix
                                    [for]="picker2"
                                ></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="sm:col-span-1">
                            <mat-form-field class="w-full">
                                <mat-label>CVV / CVC2</mat-label>

                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:lock-closed'"
                                    matPrefix
                                ></mat-icon>
                                <input
                                    class="border-primary placeholder:text-tqeem-primaryGreyAccent"
                                    matInput
                                    [formControlName]="'cvv'"
                                    [placeholder]="'000'"
                                    required
                                />
                            </mat-form-field>
                        </div>
                        <div class="sm:col-span-2">
                            <mat-form-field class="w-full">
                                <mat-label>Country</mat-label>
                                <mat-select
                                    [formControlName]="'country'"
                                    [placeholder]="'Country / Region'"
                                    required
                                >
                                    <mat-option value="country-1"
                                        >Country 1</mat-option
                                    >
                                    <mat-option value="country-2"
                                        >Country 2</mat-option
                                    >
                                    <mat-option value="country-3"
                                        >Country 3</mat-option
                                    >
                                </mat-select>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="
                                        'heroicons_solid:location-marker'
                                    "
                                ></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="sm:col-span-2">
                            <mat-form-field class="w-full">
                                <mat-label>Zip / Postal Code</mat-label>
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:hashtag'"
                                    matPrefix
                                ></mat-icon>
                                <input
                                    class="border-primary placeholder:text-tqeem-primaryGreyAccent"
                                    matInput
                                    [formControlName]="'zipLocation'"
                                    [placeholder]="'000'"
                                    required
                                />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex justify-start gap-3">
                        <button
                            class="border border-solid border-primary bg-transparent px-8 text-primary hover:bg-inherit"
                            mat-flat-button
                            type="button"
                            matStepperPrevious
                        >
                            Cancel
                        </button>
                        <button
                            class="px-8 bg-gradient-to-b text-white from-tqeem-primaryFrom to-tqeem-primaryTo"
                            mat-flat-button
                            [color]="'primary'"
                            type="button"
                            matStepperNext
                        >
                            Next
                        </button>
                    </div>
                </mat-step>

                <!-- Done -->
                <mat-step [editable]="false">
                    <ng-template matStepLabel> Done </ng-template>
                    <div class="flex flex-col gap-4">
                        <!-- Success Alert -->
                        <div
                            class="flex items-center justify-start gap-3 rounded-md border border-solid border-primary bg-tqeem-highlightPrimaryAccent p-3"
                        >
                            <mat-icon
                                class="text-primary icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:badge-check'"
                            ></mat-icon>
                            <p class="text-base grow font-medium text-tqeem-primary">
                                Congrats, You have successfully completed your
                                request 🥳
                            </p>
                        </div>
                        <!-- Success Message -->
                        <div class="leading-6">
                            <h2
                                class="text-lg font-semibold text-tqeem-darkPrimaryAccent"
                            >
                                Your Report is Ready
                            </h2>
                            <p class="font-medium text-tqeem-primaryGreyAccent">
                                You can go back to see this report at anytime
                                form the requests history page
                            </p>
                        </div>
                        <!-- Actions -->
                        <div class="flex flex-wrap justify-start gap-3">
                            <button
                                class="border border-solid border-primary bg-transparent px-8 text-primary hover:bg-inherit"
                                mat-flat-button
                                type="button"
                                matStepperPrevious
                            >
                                Back to Requests History
                            </button>
                            <button
                                class="px-8 bg-gradient-to-b text-white from-tqeem-primaryFrom to-tqeem-primaryTo"
                                mat-flat-button
                                type="reset"
                                [routerLink]="'history'"
                            >
                                Make New Request
                            </button>
                        </div>
                    </div>
                </mat-step>
            </mat-vertical-stepper>
        </form>
    </div>
</div>
