<!-- Icon Button -->
<ng-container *ngIf="isScreenSmall">
<button mat-icon-button  [matMenuTriggerFor]="userActions">
    <span>
        <img
            class="w-7 h-7 rounded-full"
            *ngIf="showAvatar && user.avatar"
            [src]="user.avatar"
        />
        <mat-icon
            *ngIf="!showAvatar || !user.avatar"
            [svgIcon]="'heroicons_outline:user-circle'"
        ></mat-icon>
    </span>
</button>
</ng-container>


<!-- Icon with Name Button -->
<ng-container *ngIf="!isScreenSmall">
    <button mat-button [matMenuTriggerFor]="userActions" class="group">
        <div class="flex items-center gap-2">
            <span >
                <img
                    class="w-7 h-7 rounded-full"
                    *ngIf="showAvatar && user.avatar"
                    [src]="user.avatar"
                />
                <mat-icon
                    *ngIf="!showAvatar || !user.avatar"
                    class="group-hover:text-tqeem-primary transition-colors"
                    [svgIcon]="'heroicons_outline:user-circle'"
                ></mat-icon>
            </span>
            <span
            class="hidden sm:block text-md text-gray-400 transition-colors group-hover:text-gray-900"
            >{{ user.name }}</span
            >
            <mat-icon
                *ngIf="!showAvatar || !user.avatar"
                class="icon-size-4 group-hover:text-tqeem-primary transition-colors"
                [svgIcon]="'heroicons_outline:chevron-down'"
            ></mat-icon>
        </div>
    </button>
</ng-container>

<!-- Menu -->
<mat-menu [xPosition]="'before'" #userActions="matMenu">
    <button mat-menu-item>
        <span class="flex flex-col leading-none">
            <span>Signed in as</span>
            <span class="mt-1.5 text-md font-medium">{{ user.email }}</span>
        </span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item>
        <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
        <span>Profile</span>
    </button>
    <button mat-menu-item>
        <mat-icon [svgIcon]="'heroicons_outline:cog'"></mat-icon>
        <span>Settings</span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item (click)="signOut()">
        <mat-icon [svgIcon]="'heroicons_outline:logout'"></mat-icon>
        <span>Sign out</span>
    </button>
</mat-menu>
