<div class="@container/table">
    <!-- Filters & Search & Actions -->
    <div class="flex justify-between px-6 pb-6">
        <div class="flex grow flex-wrap items-center gap-3">
            <!-- Search -->
            <mat-form-field class="sm-height mb-0 grow basis-80">
                <input
                    class="border-tqeem-borderPrimaryAccent placeholder:text-tqeem-primaryGreyAccent"
                    matInput
                    [formControlName]="'serialNumber'"
                    [placeholder]="'Name, Phone, Company.....'"
                    required
                />
                <mat-icon
                    class="text-primary icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:search'"
                ></mat-icon>
            </mat-form-field>
            <!-- Filter Button -->
            <button
                class="min-h-[37px] grow basis-auto rounded-md bg-gradient-to-b from-tqeem-primaryFrom to-tqeem-primaryTo text-white @[540px]/table:grow-0"
                mat-flat-button
            >
                <mat-icon
                    class="mr-2 icon-size-5"
                    [svgIcon]="'heroicons_outline:adjustments'"
                ></mat-icon>
                Filters
            </button>
            <!-- Export Buttons // TODO: ( Just a Reminder ) This section should be converted to a component to make it reusable  -->
            <div
                class="flex grow flex-wrap items-center gap-3 @[900px]/table:grow-0"
            >
                <!-- Export As PDF Button -->
                <button
                    class="grow rounded-md border border-solid border-tqeem-borderPrimaryAccent bg-tqeem-highlightPrimaryAccent text-tqeem-primary"
                    mat-flat-button
                    routerLink="'./..'"
                >
                    <div class="flex items-center gap-2">
                        <img
                            class="h-6"
                            src="assets/icons/pdf.png"
                            alt="PDF Icon"
                        />
                        Export as PDF
                    </div>
                </button>
                <!-- Export As Excel Button -->
                <button
                    class="grow rounded-md border border-solid border-tqeem-borderPrimaryAccent bg-tqeem-highlightPrimaryAccent text-tqeem-primary"
                    mat-flat-button
                    routerLink="'./..'"
                >
                    <div class="flex items-center gap-2">
                        <img
                            class="w-6"
                            src="assets/icons/excel.png"
                            alt="Excel Icon"
                        />
                        Export as EXCEL
                    </div>
                </button>
            </div>
        </div>
    </div>
    <!-- Main Data Table -->
    <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="w-full table-auto text-start"
    >
        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td
                mat-cell
                *matCellDef="let element"
                class="transition-colors group-hover:text-tqeem-darkPrimaryAccent"
            >
                {{ element.id }}
            </td>
        </ng-container>

        <!-- Maker Column -->
        <ng-container matColumnDef="maker">
            <th mat-header-cell *matHeaderCellDef>Maker</th>
            <td mat-cell *matCellDef="let element">
                <div
                    class="flex max-w-32 items-center font-semibold text-tqeem-darkPrimaryAccent ltr:mr-2 rtl:ml-2"
                >
                    <span class="grow">{{ element.maker }}</span>
                    <img
                        src="assets/images/vehicles-brands/{{
                            element.maker | lowercase
                        }}.png"
                        class="aspect-1 w-6 object-contain"
                        width="30"
                        alt="{{ element.maker }}"
                    />
                </div>
            </td>
        </ng-container>

        <!-- Model Column -->
        <ng-container matColumnDef="model">
            <th
                mat-header-cell
                *matHeaderCellDef
                class="hidden @[609px]/table:table-cell"
            >
                Model
            </th>
            <td
                mat-cell
                *matCellDef="let element"
                class="hidden transition-colors group-hover:text-tqeem-darkPrimaryAccent @[609px]/table:table-cell"
            >
                {{ element.model }}
            </td>
        </ng-container>

        <!-- Year Column -->
        <ng-container matColumnDef="year">
            <th
                mat-header-cell
                *matHeaderCellDef
                class="hidden @[609px]/table:table-cell"
            >
                Year
            </th>
            <td
                mat-cell
                *matCellDef="let element"
                class="hidden transition-colors group-hover:text-tqeem-darkPrimaryAccent @[609px]/table:table-cell"
            >
                {{ element.year }}
            </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="color">
            <th
                mat-header-cell
                *matHeaderCellDef
                class="hidden @[717px]/table:table-cell"
            >
                Color
            </th>
            <td
                mat-cell
                *matCellDef="let element"
                class="hidden @[717px]/table:table-cell"
            >
                <div
                    class="flex items-center gap-2"
                    [ngClass]="{
                        'text-rose-500': element.color === 'Rose',
                        'text-cyan-500': element.color === 'Cyan',
                        'text-lime-500': element.color === 'Lime',
                        'text-indigo-500': element.color === 'Indigo',
                        'text-fuchsia-500': element.color === 'Fuchsia',
                        'text-teal-500': element.color === 'Teal'
                    }"
                >
                    <div
                        class="h-2 w-2 rounded-full"
                        [ngClass]="{
                            'bg-rose-500': element.color === 'Rose',
                            'bg-cyan-500': element.color === 'Cyan',
                            'bg-lime-500': element.color === 'Lime',
                            'bg-indigo-500': element.color === 'Indigo',
                            'bg-fuchsia-500': element.color === 'Fuchsia',
                            'bg-teal-500': element.color === 'Teal'
                        }"
                    ></div>
                    <span>{{ element.color }}</span>
                </div>
            </td>
        </ng-container>

        <!-- Serial Number Column -->
        <ng-container matColumnDef="serial">
            <th
                mat-header-cell
                *matHeaderCellDef
                class="hidden @[955px]/table:table-cell"
            >
                Serial Number
            </th>
            <td
                mat-cell
                *matCellDef="let element"
                class="hidden transition-colors group-hover:text-tqeem-darkPrimaryAccent @[955px]/table:table-cell"
            >
                {{ element.serialNumber }}
            </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th
                mat-header-cell
                *matHeaderCellDef
                class="hidden @[717px]/table:table-cell"
            >
                Status
            </th>
            <td
                mat-cell
                *matCellDef="let element"
                class="hidden @[717px]/table:table-cell"
            >
                <span
                    class="flex h-[30px] max-w-fit place-items-center rounded-full bg-tqeem-Status-successAccent px-3 text-tqeem-Status-success"
                >
                    {{ element.status }}
                </span>
            </td>
        </ng-container>

        <!-- Plate Number Column -->
        <ng-container matColumnDef="plateNumber">
            <th
                mat-header-cell
                *matHeaderCellDef
                class="hidden @[1130px]/table:table-cell"
            >
                Plate Number
            </th>
            <td
                mat-cell
                *matCellDef="let element"
                class="hidden transition-colors group-hover:text-tqeem-darkPrimaryAccent @[1130px]/table:table-cell"
            >
                {{ element.plateNumber }}
            </td>
        </ng-container>

        <!-- Plate Type Column -->
        <ng-container matColumnDef="plateType">
            <th
                mat-header-cell
                *matHeaderCellDef
                class="hidden @[1230px]/table:table-cell"
            >
                Plate Type
            </th>
            <td
                mat-cell
                *matCellDef="let element"
                class="hidden transition-colors group-hover:text-tqeem-darkPrimaryAccent @[1230px]/table:table-cell"
            >
                {{ element.plateType }}
            </td>
        </ng-container>

        <!-- Odometer Reading Column -->
        <ng-container matColumnDef="omr">
            <th
                mat-header-cell
                *matHeaderCellDef
                class="hidden @[717px]/table:table-cell"
            >
                Odometer Reading
            </th>
            <td
                mat-cell
                *matCellDef="let element"
                class="hidden transition-colors group-hover:text-tqeem-darkPrimaryAccent @[717px]/table:table-cell"
            >
                {{ element.omr }}
            </td>
        </ng-container>

        <!-- Price Reading Column -->
        <ng-container matColumnDef="price">
            <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by Price"
            >
                Price
            </th>
            <td
                mat-cell
                *matCellDef="let element"
                class="font-semibold text-tqeem-darkPrimaryAccent"
            >
                {{ element.price }}
            </td>
        </ng-container>

        <!-- Created At Reading Column -->
        <ng-container matColumnDef="createdAt">
            <th
                mat-header-cell
                *matHeaderCellDef
                class="hidden @[1230px]/table:table-cell"
            >
                Created At
            </th>
            <td
                mat-cell
                *matCellDef="let element"
                class="hidden group-hover:text-tqeem-darkPrimaryAccent @[1230px]/table:table-cell"
            >
                {{ element.createdAt.date }} at
                {{ element.createdAt.time }}
            </td>
        </ng-container>

        <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
            class="bg-tqeem-highlightPrimaryAccent"
        ></tr>
        <tr
            mat-row
            class="group cursor-pointer transition-colors hover:bg-tqeem-highlightPrimaryAccent"
            [data-open]="selection.isSelected(row)"
            [ngClass]="{
                'bg-tqeem-highlightPrimaryAccent': selection.isSelected(row)
            }"
            (click)="clickedRow(row)"
            *matRowDef="let row; columns: displayedColumns"
        ></tr>
    </table>
    <!-- Pagination -->
    <mat-paginator
        [pageSizeOptions]="[15, 25, 50]"
        showFirstLastButtons
        aria-label="Select page of vehicle reports"
    >
    </mat-paginator>
</div>
